.header_container {
  display: flex;
  background-color: #3f5cc0;
  width: 100%;
  user-select: none;
  padding: 38px 130px;
  gap: 300px;
  /* flex-wrap: wrap; */
}

.header_container a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #090808;
  padding: 0 60px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
